<%= form_for(@adventure) do |f| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% @adventure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for(:data) do |data| %>
    <div class="field">
      <%= data.text_field :description, placeholder: "Adventure Description..." %>
    </div>
    <div class="field">
      <%= data.text_field :start_time, placeholder: "Start Time" %>
    </div>
    <div class="field">
      <%= data.text_field :finish_time, placeholder: "Expected Return" %>
    </div>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
